<ng-template #ConfirmationModal let-modal>
  <div class="modal-geral">
    <div class="header-modal">
      
      @if (mode === 'aviso') {
        <mat-icon svgIcon="alert" class="icon-warn"></mat-icon>
        <div class="section-title w-100 text-center">{{ title }}</div>
      }

      @if (mode === 'feedback') {
        <mat-icon svgIcon="alert" class="icon-warn"></mat-icon>
        <div class="section-title w-100 text-center">{{ title }}</div>
      }

      @if (mode === 'detalhes') {
        <mat-icon svgIcon="arrow-back" class="icon-arrow" (click)="onModalClose()"></mat-icon>
        <div class="section-title w-100 text-center">{{ title }}</div>
      }
    </div>

    <div class="d-flex flex-column body-modal">
      @if (mode === 'aviso') {
        <div class="time-caption text-center m-3">{{ message }}</div>
        <div class="d-flex flex-fill gap-3">
          <button class="gea-btn-secondary flex-fill" (click)="onModalClose()">
            {{ cancelText }}
          </button>
          <button class="gea-btn-primary flex-fill" (click)="onModalConfirm()">
            {{ confirmText }}
          </button>
        </div>
      }

      @if (mode === 'feedback') {
        <div class="time-caption feedback-message text-center m-3">{{ message }}</div>
        <div class="d-flex">
          <button
            class="gea-btn-secondary lg-button"
            routerLink="{{ routerLink }}"
            (click)="onModalClose()"
          >
            {{ cancelText }}
          </button>
        </div>
      }

      @if (mode === 'detalhes' && detailsData) {
        <div class="details-list-container">
          <dl class="details-list">

            <dt class="fw-bold">Local:</dt>
            <dd>{{ detailsData.nome }}</dd>

            <dt class="fw-bold">Data:</dt>
            <dd>{{ detailsData.data | date: 'dd/MM/yyyy' }}</dd> 
            
            <dt class="fw-bold">Qtd aulas:</dt>
            <dd>{{ detailsData.qtdAulas }}</dd>

            <dt class="fw-bold">Horário:</dt>
            <dd>{{ detailsData.horario }}</dd>

            <dt class="fw-bold">Capacidade:</dt>
            <dd>{{ detailsData.capacidade }}</dd>

            <dt class="border border-0 fw-bold">Equipamentos:</dt>
            <dd class="border border-0">{{ detailsData.equipamentos }}</dd>

            <dt class="observation-text text-center">Observações</dt> 
            <dd>{{ detailsData.observacoes }}</dd>

          </dl>
        </div>

        <button class="gea-btn-primary lg-button mt-2" (click)="onModalConfirm()">
          {{ confirmText }}
        </button>
      }
      </div>
  </div>
</ng-template>