<ng-template #ConfirmationModal let-modal>
  <div class="modal-header header-modal">
    <mat-icon svgIcon="alert" class="alert-icon"></mat-icon>
    <h5 class="text-center w-100 highlight-title">{{ title }}</h5>
  </div>
  <div class="modal-body d-flex flex-column header-body">
    <div class="main-title m-3">{{ message }}</div>
    <div class="d-flex flex-fill gap-3">
      <button class="gea-btn-secondary flex-fill" (click)="onModalCancel()">
        {{ cancelText }}
      </button>
      <button class="gea-btn gea-btn-primary flex-fill" (click)="onModalConfirm()">
        {{ confirmText }}
      </button>
    </div>
  </div>
</ng-template>

<button class="gea-btn" (click)="open(modalTemplate)">Abrir Modal de Confirmação</button>
