.gea-btn-primary {
  background-color: var(--color-primary-700);
  padding: 0.2rem;
  border-radius: 1rem;
  border: solid 2px var(--color-default-black);
  color: var(--color-default-white);
}

.gea-btn-secondary {
  background-color: #d9d9d9;
  padding: 0.2rem;
  border-radius: 1rem;
  border: solid 2px var(--color-default-black);
  color: var(--color-default-black);
}

.header-modal {
  background-color: var(--color-primary-700);
  border-radius: 0 0 0.6rem 0.6rem;
  padding: 0.6rem 0.6rem;
  border-bottom: solid 1px var(--color-default-black);
  display: flex;
  color: var(--color-default-white);
}

.body-modal {
  background-color: #f0f0f0;
  padding: 0.8em 0.8rem;
}

.modal-geral {
  border: solid 2px var(--color-default-black);
  border-radius: 0.6rem;
  overflow: hidden;
}

.icon-warn {
  width: 2.4rem;
  height: 2.4rem;
  color: var(--color-default-white);
}

.icon-arrow {
  width: 2.4rem;
  height: 2.4rem;
  color: var(--color-default-white);
}

.observation-text {
  color: var(--color-primary-700);
}

.time-caption {
  display: block;
  font-size: 1.4rem;
  margin: 0 auto 0.8rem auto;
  font-weight: var(--font-weight-regular);
}

.time-caption-small {
  font-size: 1.2rem;
  font-weight: var(--font-weight-regular);
}

.feedback-message {
  font-weight: var(--font-weight-bold);
}

.hr-lg {
  width: 15rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.4rem;
  margin-bottom: 0.2rem;
  border-width: 2px;
  border-color: var(--color-default-black);
}

.hr-sm {
  width: 3.7rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.4rem;
  margin-bottom: 0.2rem;
  border-width: 2px;
  border-color: var(--color-default-black);
}

.lg-button {
  width: 12rem;
  display: block;
  margin: 0 auto 0.8rem auto;
}

.section-title {
  margin-top: 0.2rem;
  margin-right: 1.2rem;
}
