<div class="login-page d-flex flex-column min-vh-100">
  <div class="header flex-grow-1 text-white pb-5">
    <img src="fatec-logo.png" class="logo-fatec" alt="Logotipo da FATEC" />
    <div class="text-center mobile-header">
      <h1 class="fw-bold mt-4 mobile-title">GEA</h1>
    </div>
  </div>

  <div class="card rounded-top-5 border-0 card-senha">
    <button
      class="align-items-center btn-voltar gap-2 m-4 w-25"
      (click)="voltarParaPaginaAnterior()"
    >
      <mat-icon svgIcon="arrow-back" class="icon"></mat-icon>
      <span>voltar</span>
    </button>

    @if (isLoading) {
      <div class="d-flex justify-content-center align-items-center mt-4">
        <mat-spinner diameter="50"></mat-spinner>
      </div>
    } @else if (token) {
      <div class="card-body pb-4">
        <h1 class="desktop-title fw-bold mb-4">Redefinir senha</h1>
        <h3 class="mb-4 p-2 text-center ml">Redefinir senha</h3>
        <form [formGroup]="formRedefinirSenha" class="d-flex flex-column gap-3">
          <div class="form-floating position-relative">
            <input
              [type]="hideNewPassword ? 'text' : 'password'"
              class="form-control"
              id="userNewPassword"
              formControlName="novaSenha"
              placeholder=""
            />
            <label for="userNewPassword">Nova senha</label>

            <button
              type="button"
              *ngIf="btnNewVisibility"
              class="btn btn-link position-absolute top-50 end-0 translate-middle-y me-2 p-0"
              (click)="toggleNewPassword()"
            >
              @if (hideNewPassword) {
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-eye-slash"
                  viewBox="0 0 16 16"
                  style="color: black"
                >
                  <path
                    d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z"
                  />
                  <path
                    d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829"
                  />
                  <path
                    d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z"
                  />
                </svg>
              }
              @if (!hideNewPassword) {
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-eye"
                  viewBox="0 0 16 16"
                  style="color: black"
                >
                  <path
                    d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"
                  />
                  <path
                    d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"
                  />
                </svg>
              }
            </button>
          </div>
          <div>
            @if (
              formRedefinirSenha.get('novaSenha')?.touched &&
              formRedefinirSenha.get('novaSenha')?.invalid
            ) {
              <div class="text-danger small">
                @if (formRedefinirSenha.get('novaSenha')?.hasError('required')) {
                  <p>O campo 'Nova senha' é obrigatório.</p>
                }
                <ul class="lista-de-erros">
                  @if (formRedefinirSenha.get('novaSenha')?.hasError('minlength')) {
                    <li>Falta ter no mínimo 8 caracteres</li>
                  }

                  @if (formRedefinirSenha.get('novaSenha')?.hasError('senha')) {
                    @if (!errosDeSenhaSegura?.temLetraMaiscula) {
                      <li>Falta pelo menos uma letra maiúscula</li>
                    }

                    @if (!errosDeSenhaSegura?.temLetraMinuscula) {
                      <li>Falta pelo menos uma letra minúscula</li>
                    }

                    @if (!errosDeSenhaSegura?.temNumero) {
                      <li>Falta pelo menos um número</li>
                    }

                    @if (!errosDeSenhaSegura?.temCaracterEspecial) {
                      <li>Falta pelo menos um caractere especial</li>
                    }
                  }
                </ul>
              </div>
            }
          </div>

          <div class="form-floating position-relative">
            <input
              [type]="hideRepeatPassword ? 'text' : 'password'"
              class="form-control"
              id="userNewPasswordAgain"
              formControlName="novaSenhaRepetida"
              placeholder=""
            />
            <label for="userNewPasswordAgain">Confirme a senha</label>

            <button
              type="button"
              *ngIf="btnRepeatVisibility"
              class="btn btn-link position-absolute top-50 end-0 translate-middle-y me-2 p-0"
              (click)="toggleRepeatPassword()"
            >
              @if (hideRepeatPassword) {
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-eye-slash"
                  viewBox="0 0 16 16"
                  style="color: black"
                >
                  <path
                    d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z"
                  />
                  <path
                    d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829"
                  />
                  <path
                    d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z"
                  />
                </svg>
              }
              @if (!hideRepeatPassword) {
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-eye"
                  viewBox="0 0 16 16"
                  style="color: black"
                >
                  <path
                    d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"
                  />
                  <path
                    d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"
                  />
                </svg>
              }
            </button>
          </div>
          <div>
            @if (
              formRedefinirSenha.get('novaSenhaRepetida')?.touched &&
              formRedefinirSenha.get('novaSenhaRepetida')?.invalid
            ) {
              <div class="text-danger small">
                @if (formRedefinirSenha.hasError('passwordMismatch')) {
                  As senhas não correspondem.
                }
              </div>
            }
          </div>
        </form>

        <button class="btn btn-danger w-100 fw-bold" (click)="validarSenhas()">
          ALTERAR SENHA
        </button>
      </div>
    } @else if (isEmailSucess) {
      <div class="row">
        <div class="col text-center justify-content-between">
          <mat-icon svgIcon="feedback-email" class="icon confirm-icon"></mat-icon>
          <h3 class="title-confirm">
            E-mail enviado com <br />
            sucesso!
          </h3>
          <p class="mt-4 text-confirm">
            Enviamos um link para sua caixa de <br />
            entrada. Siga as instruções para <br />
            redefinir sua senha.
          </p>
        </div>
      </div>
    } @else {
      <h1 class="desktop-title fw-bold mb-4">Esqueci a senha</h1>
      <h2 class="text-center desktop-subtitle mb-4">
        Digite seu e-mail para <br />
        enviarmos um link seguro.
      </h2>

      <div class="p-2 text-center ml">
        <h3 class="my-4">Esqueci a senha</h3>
        <h4>
          Digite seu e-mail para enviarmos <br />
          um link seguro.
        </h4>
      </div>
      <div class="card-body pb-4">
        <form [formGroup]="formEmail" class="form">
          <div class="form-floating">
            <input
              type="email"
              class="form-control mb-2"
              id="userInput"
              formControlName="email"
              placeholder=""
            />
            <label for="userInput">E-mail</label>

            @if (formEmail.get('email')?.touched && formEmail.get('email')?.invalid) {
              <div class="text-danger mt-2 small">
                @if (formEmail.get('email')?.hasError('required')) {
                  O campo 'E-mail' é obrigatório.
                } @else if (formEmail.get('email')?.hasError('email')) {
                  E-mail inválido.
                }
              </div>
            }
          </div>

          <div class="row align-items-center justify-content-between">
            <div class="col-6 col-md-12">
              <button class="btn btn-danger w-100 fw-bold py-2" (click)="validarEmail()">
                ENVIAR
              </button>
            </div>
            <div class="col-6">
              <a class="btn btn-cancelar w-100 fw-bold py-2" routerLink="/login"> CANCELAR </a>
            </div>
          </div>
        </form>
      </div>
    }
  </div>
</div>
