<div class="d-flex flex-column gap-3 color">
  <div class="container">
    <div class="mt-2">
      <app-title-highlightt title="Configurações"></app-title-highlightt>
    </div>
    <div class="d-flex flex-column">
      <div class="d-flex flex-row">
        <div class="line mt-3"></div>
        <a class="subtitle p-1" routerLink="/agenda">Alterar Senha</a>
      </div>
      <div class="d-flex flex-row">
        <div class="line mt-3"></div>
        <a tabindex="0" class="subtitle p-1" (click)="openModal()" (keypress)="openModal()"
          >Logout</a
        >
        <mat-icon svgIcon="logout" class="icon-logout"></mat-icon>
      </div>
    </div>
  </div>
</div>
<div class="container informations">
  <app-title-highlightt title="Informações"></app-title-highlightt>
  <dl>
    <div class="d-flex flex-row gap-1">
      <dt>Nome:</dt>
      @if (user$ | async; as user) {
        <dd>{{ user.usuarioNome }}</dd>
      }
    </div>

    @if (disciplinas$ | async; as disciplinas) {
      <dt>Disciplinas:</dt>
      <dd>
        <ul>
          @for (disciplina of disciplinas; track $index) {
            <li>{{ disciplina.nomeDisciplina }}</li>
          }
        </ul> </dd> <dt>Cursos e semestres:</dt>
      <dd>
        <ul>
          @for (disciplina of disciplinas; track $index) {
            <li>
              {{ disciplina.nomeCurso }} - {{ disciplina.semestre }} -
              {{ disciplina.nomeDisciplina }}
            </li>
          }
        </ul>
      </dd>
    } </dl> <app-confirmation-modal
    #ConfirmationModal
    mode="aviso"
    title="Aviso!"
    message="Você tem certeza que deseja sair da sua conta?"
    confirmText="Confirmar"
    cancelText="Cancelar"
    (onconfirm)="logout()"
  ></app-confirmation-modal>
</div>