.line {
  background-color: var(--color-neutral-500);
  height: 0.2rem;
  width: 1.5rem;
  border-radius: 0.1rem;
  margin-top: 0.3rem;
}

.icon-logout {
  width: 1.2rem;
  height: 2.2rem;
  margin-top: 0.2rem;
}

a{
  color: var(--color-neutral-900);
  text-decoration: none;
}

.informations{
  color: var(--color-neutral-900);
}

.informations dl dt{
  font-size: 1.6rem;
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-primary);
}


ul{
  list-style: none;
  padding-left: 0;
}