.line {
  background-color: var(--color-neutral-500);
  height: 0.125rem;
  width: 0.938rem;
  border-radius: 0.1rem;
  margin-top: 0.3rem;
}

.icon-logout {
  width: 0.75rem;
  height: 1.375rem;
  margin-top: 0.125rem;
}

a {
  color: var(--color-neutral-900);
  text-decoration: none;
}

.informations {
  color: var(--color-neutral-900);
}

.informations dl dt {
  font-size: 1rem;
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-primary);
}

ul {
  list-style: none;
  padding-left: 0;
}

@media (min-width: 768px) {
  .config-container {
    padding-left: 1.688rem;
    padding-right: 1.688rem;
  }
}

.content {
  padding-left: 1rem;
  padding-right: 1rem;
}

.houver{
  min-width: 34% !important;
}

.config-principal{
  min-width: 20% !important;
  max-width: 20% !important;
  margin-bottom: 1rem;
}

.config-secondario{
  min-width: 30% !important;
  margin: 0 !important;
}

.option-alterar-senha:hover, .option-logout:hover{
  min-width: 60% !important;
  cursor: pointer;
  color: var(--color-neutral-300) !important;
  .line{
    background-color: var(--color-neutral-300) !important;
  }
  .subtitle{
    color: var(--color-neutral-300) !important;
  }
}

.content-secondario, .sub-content-principal{
  padding: 0.3rem 0 0 0.5rem !important;
}

@media(max-width: 768px) {
  .content-principal{
    width: 12rem !important;
  }
}
