.line {
  background-color: var(--color-neutral-500);
  height: 0.125rem;
  width: 0.938rem;
  border-radius: 0.1rem;
  margin-top: 0.3rem;
}

.icon-logout {
  width: 0.75rem;
  height: 1.375rem;
  margin-top: 0.125rem;
}

a {
  color: var(--color-neutral-900);
  text-decoration: none;
}

.informations {
  color: var(--color-neutral-900);
}

.informations dl dt {
  font-size: 1rem;
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-primary);
}

ul {
  list-style: none;
  padding-left: 0;
}

@media (min-width: 768px) {
  .config-container {
    padding-left: 1.688rem;
    padding-right: 1.688rem;
  }
}

.content {
  padding-left: 1rem;
  padding-right: 1rem;
}

.cursor-pointer {
    cursor: pointer !important;
}

.btn-houver:hover{
  .cursor-pointer, .icon-logout{
    color: var(--color-neutral-300) !important;
  }
  .line{
    background-color: var(--color-neutral-300) !important;
  }
}
