@if (mode === "aula") {
<div class="d-flex justify-content-center align-itens-center aula-form">
    <form [formGroup]="aulaForm" class="form">

        <div class="row g-3">
            <div class="col-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Local</mat-label>
                    <mat-select formControlName="local">
                        @for (s of salas; track s.salaId) {
                        <mat-option [value]="s">{{s.salaNome}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Disciplina</mat-label>
                    <mat-select formControlName="disciplina">
                        @for (d of disciplinas; track d.disciplinaId) {
                        <mat-option [value]="d">{{d.disciplinaNome}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- <div class="col-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Curso</mat-label>
                    <mat-select formControlName="curso">
                        @for (c of cursos; track c.cursoId) {
                        <mat-option [value]="c">{{c.cursoSigla}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div> -->

            <div class="col-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Horário</mat-label>
                    <mat-select formControlName="horario">
                        @for (h of horarios; track $index) {
                        <mat-option [value]="h">{{ h }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Solicitante</mat-label>
                    <input matInput formControlName="solicitante">
                </mat-form-field>
            </div>

            <div class="col-12 mt-3" style="width: fit-content; margin-left: auto; margin-right: auto;">
                <button mat-raised-button class="btn btn-aula" (click)="submitAula()" [disabled]="aulaForm.invalid">
                    Agendar
                </button>
            </div>
        </div>
    </form>
</div>
}


@if (mode === "evento") {
<div class="row flex-column agenda-form">
    <form [formGroup]="eventoForm" class="form">
        <div class="row g-3">
            <div class="col-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Nome do Evento</mat-label>
                    <input matInput formControlName="nomeEvento">
                </mat-form-field>
            </div>

            <div class="col-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Local</mat-label>
                    <mat-select formControlName="local">
                        <mat-option value="Auditório">Auditório</mat-option>
                        <mat-option value="Sala Master">Sala Maker</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Início</mat-label>
                    <mat-select formControlName="inicio">
                        @for (hInicio of listaHorarios; track hInicio.janelasHorarioId) {
                        <mat-option [value]="hInicio.horaInicio">{{ hInicio.horaInicio.slice(0, 5) }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Fim</mat-label>
                    <mat-select formControlName="fim">
                        @for (hFim of listaHorarios; track hFim.janelasHorarioId) {
                        <mat-option [value]="hFim.horaFim">{{ hFim.horaFim.slice(0, 5) }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-6">
                <mat-checkbox formControlName="todosHorarios">
                    Todos os horários
                </mat-checkbox>
            </div>

            <div class="col-6">
                <button mat-raised-button class="btn btn-primary" (click)="addEventoConfig()"
                    [disabled]="eventoForm.invalid">
                    Salvar
                </button>
            </div>
        </div>
    </form>
</div>

<div class="d-flex flex-column text-center">
    <div class="border-card">
        <h3>Dias Agendados</h3>

        <ul class="list-group">
            <li class="list-group-item" style="border: none;">
                @for (ev of eventBatch; track ev; let i = $index) {
                <mat-chip selectable="false" removable="true">
                    {{ ev.date | date:'dd/MM/yyyy' }} — {{ ev.nomeEvento }}
                    <mat-icon (click)="removeBatchItem(i)" style="cursor:pointer">close</mat-icon>
                </mat-chip>
                }
            </li>
        </ul>

        <button mat-raised-button class="btn btn-secundary" (click)="submitBatch()"
            [disabled]="eventBatch.length === 0"> Agendar
        </button>
    </div>


</div>


}