@if (mode === "aula") {
<div class="d-flex justify-content-center align-itens-center">
    <form [formGroup]="aulaForm" class="form">

        <div class="row g-3">
            <div class="col-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Local</mat-label>
                    <mat-select formControlName="local">
                        <mat-option value="Sala 1">Sala 1</mat-option>
                        <mat-option value="Sala 2">Sala 2</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Disciplina</mat-label>
                    <mat-select formControlName="disciplina">
                        <mat-option value="POO">POO</mat-option>
                        <mat-option value="BD">BD</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Horário</mat-label>
                    <mat-select formControlName="horario">
                        <mat-option
                            *ngFor="let h of ['07:40 - 9:20','9:30 - 11:20','11:30 - 13:00','13:20 - 15:00','15:10 - 16:50','17:00 - 18:40','19:00 - 20:40','21:00 - 22:40']"
                            [value]="h">{{ h }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Solicitante</mat-label>
                    <input matInput formControlName="solicitante">
                </mat-form-field>
            </div>

            <div class="col-12 mt-3" style="width: fit-content; margin-left: auto; margin-right: auto;">
                <button mat-raised-button class="btn btn-primary" (click)="submitAula()" [disabled]="aulaForm.invalid">
                    Agendar
                </button>
            </div>
        </div>
    </form>
</div>
}


@if (mode === "evento") {
<div class="d-flex justify-content-center align-itens-center">
    <form [formGroup]="eventoForm" class="form">
        <div class="row g-3">
            <div class="col-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Nome do Evento</mat-label>
                    <input matInput formControlName="nomeEvento">
                </mat-form-field>
            </div>

            <div class="col-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Local</mat-label>
                    <mat-select formControlName="local">
                        <mat-option value="Auditório">Auditório</mat-option>
                        <mat-option value="Sala Master">Sala Maker</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Início</mat-label>
                    <mat-select formControlName="inicio">
                        <mat-option *ngFor="let h of ['07:40','10:00','13:00','15:00']" [value]="h">{{ h }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Fim</mat-label>
                    <mat-select formControlName="fim">
                        <mat-option *ngFor="let h of ['10:00','12:00','15:00','17:00']" [value]="h">{{ h }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-6">
                <mat-checkbox formControlName="todosHorarios" class="w-100">
                    Todos os horários
                </mat-checkbox>
            </div>

            <div class="col-6">
                <button mat-raised-button class="btn btn-primary" (click)="addEventoConfig()"
                    [disabled]="eventoForm.invalid">
                    Salvar
                </button>
            </div>
        </div>
    </form>

    <div class="container">
    <h3 style="margin-top:20px">Dias Agendados</h3>

    <ul class="list-group">
        <li class="list-group-item">
                <mat-chip-set>
        <mat-chip *ngFor="let ev of eventBatch; let i = index" selectable="false" removable="true">
            {{ ev.date | date:'dd/MM/yyyy' }} — {{ ev.nomeEvento }}
            <mat-icon (click)="removeBatchItem(i)" style="cursor:pointer">close</mat-icon>
        </mat-chip>
    </mat-chip-set>
        </li>
    </ul>

    <button mat-raised-button class="btn btn-secundary" style="margin-top:20px" (click)="submitBatch()"
        [disabled]="eventBatch.length !== dateArray.length">
        Agendar
    </button>
</div>
</div>


}