:host ::ng-deep .day-selector {
  justify-content: flex-start !important;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  scroll-snap-type: x mandatory;
  scroll-padding-left: 1.2rem;
  scrollbar-width: none;
  /* Para IE e Edge */
  -ms-overflow-style: none;
}
.day-selector::-webkit-scrollbar {
  display: none;
}

:host ::ng-deep .day-item {
  flex: 0 0 auto;
  scroll-snap-align: start;
}