<div class="mt-2">
  <app-title-highligh title="Aulas"></app-title-highligh>
</div>
@if (loading$ | async) {
  <div class="d-flex justify-content-center align-items-center mt-4">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
}

@if ((loading$ | async) === false) {
  <div class="container my-3">
    <app-day-selector
      class="w-100 d-block"
      [currentMonthName]="monthToDisplay"
      [days]="days"
      [activeDayId]="activeDayId"
      (dayChange)="onDayChange($event)"
      (monthChange)="onMonthNavigate($event)"
    >
    </app-day-selector>

    <div class="mt-3">
      <app-class-info-card
        *ngFor="let agendamento of agendamentosDoDiaSelecionado$ | async"
        [agendamentoData]="agendamento"
        (delete)="requestCancelConfirmation($event)"
        (alterar)="handleViewAgendamento($event)"
      >
      </app-class-info-card>

      @if (!(agendamentosDoDiaSelecionado$ | async)?.length && (loading$ | async) === false) {
        <div class="text-secondary mt-3">
          Sem aulas para este dia.
        </div>
      }
      
    </div>
  </div>
}

<app-confirmation-modal
  #confirmModal
  [mode]="'aviso'"
  [title]="'Confirmar Cancelamento'"
  [message]="
    'Você tem certeza que deseja cancelar este agendamento? Esta ação não pode ser desfeita.'
  "
  [confirmText]="'Confirmar'"
  [cancelText]="'Cacelar'"
  (onConfirm)="confirmCancel()"
  (onCancel)="closeCancelModal()"
>
</app-confirmation-modal>
