.generic-form {
  border-radius: 0.5rem;
  width: 100%;
  max-width: 31.25rem;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.is-last-item {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.form-inputs-contain {
  border: 0.5px 0.5px 0 0.5px solid green;
  padding-top: var(--spacing-5);
  background-color: var(--color-primary-700);
}

.form-group {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--spacing-4);
  align-items: center;
  background-color: #f0f0f0;
  padding: 0.438rem;
  border-bottom: 1px solid var(--color-neutral-500);
  border-left: 0.5px solid var(--color-neutral-500);
  border-right: 0.5px solid var(--color-neutral-500);

  input,
  select {
    background-color: var(--color-surface-subtle);
    padding: 0.125rem;
  }
}

.form-group label {
  font-weight: bold;
  color: var(--text-color);
  text-align: left;
}

.form-control {
  width: 100%;
  padding: 0.625rem var(--spacing-3);
  border: 1px solid var(--color-neutral-900);
  border-radius: 0.375rem;
  background-color: #fff;
  font-size: 1rem;
}

/* Para customizar a seta do select */
select.form-control {
  appearance: none;
  background-image: url('/assets/icons/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: right 0.375rem center;
  background-size: 0.75rem;
}

input[type='date'].form-control {
  appearance: none;
  background-image: url('/assets/icons/calendar.svg');
  background-repeat: no-repeat;
  background-position: right 0.375rem center;
  background-size: 0.75rem;
}

/* Container para os botões de ação */
.form-actions {
  display: flex;
  gap: var(--spacing-3);

  button {
    flex: 1;
  }
}

/* Estilo base dos botões */
.form-actions button {
  padding: var(--spacing-3);
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.375rem;
  cursor: pointer;
  margin-top: var(--spacing-2);
  border: 1px solid transparent;
}

.cancel-button {
  background-color: #d9d9d9;
  border-color: var(--color-default-black);
  color: var(--color-neutral-900);
}

.submit-button {
  background-color: var(--color-primary-700);
  color: var(--color-default-white);
  border: none;
  padding: 0;
}

.form-actions button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.multi-select-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.multi-select-input {
  width: 100%;
  padding: 0 !important;
}

.multi-select-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
  width: 100%;
}

.field-label {
  font-weight: 500;
  color: #333;
  font-size: 0.875rem;
}

.chips-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 0.375rem;
  border-radius: 0.375rem;
  padding: 0.375rem;
  min-height: 2.813rem;
}

.simple-input {
  border: none;
  outline: none;
  min-width: 100px;
  width: 100%;
  flex: 1;
  font-size: 0.875rem;
  padding: 0.438rem !important;
  border: 0.5px solid var(--color-default-black);
  border-radius: 0.5rem;
}

.simple-input::placeholder {
  color: #999;
}

mat-chip button mat-icon {
  font-size: 1rem;
}

.chips-box {
  padding: 0.438rem 0 !important;
  gap: 0;
}

.error-message {
  color: var(--color-feedback-error);
  font-size: 0.75rem;
  margin-top: var(--spacing-1);
  grid-column: 1 / -1;

  text-align: right;
  padding-right: var(--spacing-1);
}

.equipment-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-2);
}

.equipment-add-form {
  display: flex;
  gap: 0.625rem;
  flex-wrap: wrap;
  align-items: center;
}

.equipment-name-input {
  flex: 3;
}

.equipment-qty-input {
  flex: 1;
  max-width: 1.875rem;
}

.add-button {
  background-color: var(--color-primary-700);
  color: white;
  border: none;
  border-radius: 0.375rem;
  padding: var(--spacing-2) var(--spacing-3);
  cursor: pointer;
}

.add-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.required {
  color: var(--color-feedback-error);
  font-size: 1.2rem;
  font-weight: bold;
}

select:disabled {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-image: none;

  background-color: #E6E6E6;
  opacity: 1;
  color: var(--color-neutral-900);
}