<form [formGroup]="form" (ngSubmit)="onSubmit()" class="generic-form">
  <div class="form-inputs-contain"></div>
  @for (field of fields; track field.name; let isLast = $last) {
    <div class="form-group" [class.is-last-item]="isLast">
      <label [for]="field.name">{{ field.label }}</label>

      @switch (field.type) {

        @case ('date') {
          <input 
            type="date" 
            [id]="field.name" 
            [formControlName]="field.name" 
            class="form-control captions">
          @if (form.get(field.name); as control) {
            @if (control.invalid && (control.touched || control.dirty)) {
              <div class="error-message">
                @if (control.hasError('required')) {
                  <span>{{ field.validators?.errorMessages?.['required'] }}</span>
                }
                @if (control.hasError('minLength')) {
                  <span>{{ field.validators?.errorMessages?.['minLength'] }}</span>
                }
                </div>
            }
          }
        }

        @case ('select') {
          <select 
            [id]="field.name" 
            [formControlName]="field.name" 
            class="form-control captions">
            <option [value]="">{{ field.defaultValue || 'Selecione...' }}</option>
            @for (option of field.options; track option.value) {
              <option [value]="option.value">{{ option.label }}</option>
            }
          </select>
          @if (form.get(field.name); as control) {
            @if (control.invalid && (control.touched || control.dirty)) {
              <div class="error-message">
                @if (control.hasError('required')) {
                  <span>{{ field.validators?.errorMessages?.['required'] }}</span>
                }
                @if (control.hasError('minLength')) {
                  <span>{{ field.validators?.errorMessages?.['minLength'] }}</span>
                }
                </div>
            }
          }
        }
        @case ('multi-select') {
          <div class="multi-select-container">
            <div class="chips-box">
              <mat-chip-grid #chipGrid>
                @for (selectedValue of form.get(field.name)?.value; track selectedValue) {
                  <mat-chip (removed)="onChipRemoved(field, selectedValue)">
                    {{ getOptionLabel(field.options, selectedValue) }}
                    <button matChipRemove>
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip>
                }
              </mat-chip-grid>

              <input
                type="text"
                id="software-input"
                matInput
                placeholder="Adicinoar software"
                [formControl]="softwareCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipGrid"
                class="simple-input"
              />

              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="softwareSelected($event, field)">
                @for (option of filteredOptions | async; track option.value) {
                  <mat-option [value]="option.value">{{ option.label }}</mat-option>
                }
              </mat-autocomplete>
            </div>
          </div>
          @if (form.get(field.name); as control) {
            @if (control.invalid && (control.touched || control.dirty)) {
              <div class="error-message">
                @if (control.hasError('required')) {
                  <span>{{ field.validators?.errorMessages?.['required'] }}</span>
                }
                @if (control.hasError('minLength')) {
                  <span>{{ field.validators?.errorMessages?.['minLength'] }}</span>
                }
                </div>
            }
          }
        }

        @case ('text') {
          <input 
            type="text" 
            [id]="field.name" 
            [formControlName]="field.name" 
            class="form-control captions">
          @if (form.get(field.name); as control) {
            @if (control.invalid && (control.touched || control.dirty)) {
              <div class="error-message">
                @if (control.hasError('required')) {
                  <span>{{ field.validators?.errorMessages?.['required'] }}</span>
                }
                @if (control.hasError('minLength')) {
                  <span>{{ field.validators?.errorMessages?.['minLength'] }}</span>
                }
                </div>
            }
          }
        }
      @case ('equipment-select') {
        <div class="equipment-container">
          <div class="chips-box">
            <mat-chip-grid>
              @for (control of getEquipmentControls(field.name); track $index) {
                <mat-chip (removed)="removeEquipment(field, $index)">
                  {{ control.value.label }} (Qtd: {{ control.value.quantity }})
                  <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
              }
            </mat-chip-grid>
          </div>

          <div class="equipment-add-form" [formGroup]="equipmentAddForm">
            <input
              type="text"
              id="equipment-input"
              placeholder="Adicionar equipamento"
              matInput
              formControlName="equipment"
              [matAutocomplete]="equipmentAuto"
              class="simple-input equipment-name-input" />
            <mat-autocomplete #equipmentAuto="matAutocomplete" [displayWith]="displayEquipment">
              @for (option of filteredEquipments | async; track option.value) {
                <mat-option [value]="option">{{ option.label }}</mat-option>
              }
            </mat-autocomplete>

            <input
              type="number"
              formControlName="quantity"
              placeholder="Qtd"
              class="simple-input equipment-qty-input" />

            <button type="button" (click)="addEquipment(field)" [disabled]="equipmentAddForm.invalid" class="add-button">
              Adicionar
            </button>
          </div>
        </div>
      }

        @default {
          <p>Tipo de campo não suportado: {{ field.type }}</p>
        }
      }
    </div>
  }

  <div class="form-actions">
    @if(cancelButtonText !== undefined){
        <button type="button" class="cancel-button">
          {{ cancelButtonText }}
        </button>
    }
    <button type="submit" [disabled]="form.invalid" class="submit-button gea-btn">
      {{ submitButtonText || 'Salvar' }}
    </button>
  </div>
</form>