<article
  class="container-fluid px-0 class-card-article"
  role="article"
  [attr.aria-labelledby]="'class-title-' + agendamentoData.id"
>
  <div class="card-line border-bottom">

    <header class="d-flex justify-content-between align-items-start row-top">
      <h3 id="{{ 'class-title-' + agendamentoData.id }}" class="section-title text-neutral-900 mb-0">
        {{ agendamentoData.curso }}
      </h3>

      <time class="time-primary fw-semibold text-end mb-0" aria-label="Horário">
        {{ agendamentoData.horaInicio | slice:0:5 }} - {{ agendamentoData.horaFim | slice:0:5 }}
      </time>
    </header>

    <div class="d-flex justify-content-between align-items-start row-mid">
      <div class="info-left">
        <small class="meta text-secondary-600 mb-0" aria-label="Local e semestre">
          {{ agendamentoData.nomeSala }} | {{ agendamentoData.semestre }}
        </small>

        <p class="sub section-title text-neutral-900 subject mb-0" aria-label="Disciplina">
          {{ agendamentoData.nomeDisciplina }}
        </p>
      </div>

      @if (agendamentoData.dataInicio >= currentDate) {
        <div class="actions d-flex flex-column align-items-end text-end">
          <button
            type="button"
            class="btn btn-link p-0 action-edit"
            (click)="handleAlterar()"
            aria-label="Alterar aula {{ agendamentoData.id }}">
            Alterar
          </button>
          <button
            type="button"
            class="btn btn-link p-0 action-cancel"
            (click)="handleDelete()"
            aria-label="Cancelar aula {{ agendamentoData.id }}">
            <span class="underline">Cancelar</span>
          </button>
        </div>
        }
    </div>
  </div>
</article>
