.gea-input-field {
  width: 23.25rem;
  padding: var(--spacing-2);
  margin-bottom: var(--spacing-6);
  font-size: 20px;
  border: 0.2px solid var(--color-default-black);
  text-align: center;

  &:focus {
    box-shadow: none;
  }

  &:hover {
    box-shadow: none;
  }

  &:not(:placeholder-shown) {
    text-align: start;
  }
}

.body-modal {
  padding: 4.375rem;
  box-shadow: 0 0 0.5rem 0 var(--color-default-black);
}

.gea-btn-primary {
  border: none;
  width: 21.766rem;
  border-radius: 0.5rem;
  background-color: var(--color-feedback-error);
  color: var(--color-default-white);
}

.plus-icon {
  color: var(--color-default-white);
  margin-right: var(--spacing-2);
  width: 1.5rem;
  height: 1.5rem;
  margin-bottom: var(--spacing-1);
}

::ng-deep .modal.custom-modal .modal-dialog {
  max-width: 37.813rem;
}

.disabled-button {
  background-color: var(--color-neutral-100);
  color: var(--color-neutral-900);
  cursor: not-allowed;
  .plus-icon {
    color: var(--color-neutral-900);
  }
}
