.collapsed-card {
  border-radius: 0.5rem;
  width: 14rem;
  cursor: pointer;
  color: var(--color-neutral-900);
  background-color: #D9D9D9;

  border: black solid 1px;
}

.collapsed-card:hover {
  background-color: #e5e5e5;
}

.icon-arrow{
  color: rgba(46, 53, 56, 0.6);
  width: 2rem;
  height: auto;
}
