@import './variables.css';
@import './buttons.css';
@import './inputs.css';

/*Configuration*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--color-surface-base);
}

main {
  flex: 1;
  overflow-y: auto;
  padding-top: 1.25rem;
  padding-bottom: 3.813rem;
  box-sizing: border-box;
}

/*Design System*/

.highlight-title {
  font-family: var(--font-family-primary);
  font-size: 1.625rem;
  font-weight: var(--font-weight-bold);
}

.main-title {
  font-family: var(--font-family-primary);
  font-size: 1.375rem;
  font-weight: var(--font-weight-bold);
}

.subtitle {
  font-family: var(--font-family-primary);
  font-size: 1.6rem;
  font-weight: var(--font-weight-regular);
}

.section-title {
  font-family: var(--font-family-primary);
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
}

.captions {
  font-family: var(--font-family-primary);
  font-size: 0.875rem;
  font-weight: var(--font-weight-regular);
}

.time-caption {
  font-family: var(--font-family-primary);
  font-size: 0.75rem;
  font-weight: var(--font-weight-bold);
}

.tabbar-text {
  font-family: var(--font-family-primary);
  font-size: 0.625rem;
}

.mat-mdc-snack-bar-container.toast-success .mat-mdc-snackbar-surface {
  background-color: var(--color-feedback-success) !important;
  color: var(--color-default-white) !important;
  font-family: var(--font-family-primary);
  --mdc-snackbar-action-color: var(--color-default-white);
}

.mat-mdc-snack-bar-container.toast-error .mat-mdc-snackbar-surface {
  background-color: var(--color-feedback-error) !important;
  color: var(--color-default-white) !important;
  font-family: var(--font-family-primary);
  --mdc-snackbar-action-color: var(--color-default-white);
}

/*Desktop*/

@media (min-width: 768px) {
  .highlight-title {
    font-size: 2.25rem;
    font-weight: var(--font-weight-bold);
  }

  .main-title {
    font-size: 1.75rem;
    font-weight: var(--font-weight-bold);
  }

  .subtitle {
    font-size: 1.25rem;
    font-weight: var(--font-weight-regular);
  }

  .section-title {
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
  }

  .captions {
    font-size: 0.875rem;
    font-weight: var(--font-weight-regular);
  }

  .time-caption {
    font-size: 0.75rem;
    font-weight: var(--font-weight-bold);
  }
}
