.title-highlight {
  display: inline-block;

  .title-text {
    position: relative;
    margin-bottom: 0;
    margin-left: 5px;
    line-height: 1.1;
  }

  .title-underline {
    display: flex;
    align-items: center;
    width: 100%;
    height: 4px;
    margin-top: 0px;
    margin-left: 5px;
  }

  .line-thick {
    background-color: var(--color-primary-700);
    height: 4px;
    width: 60px;
    border-radius: 2px;
  }

  .line-thin {
    background-color: var(--color-primary-700);
    height: 2px;
    width: 80px;
    opacity: 0.6;
    border-radius: 1px;
  }
}
