.title-highlight {
  display: inline-block;

  .title-text {
    position: relative;
    margin-bottom: 0;
    margin-left: 0.5rem;
    line-height: 1.1;
  }

  .title-underline {
    display: flex;
    align-items: center;
    width: 100%;
    height: 0.4rem;
    margin-top: 0;
    margin-left: 0.5rem;
  }

  .line-thick {
    background-color: var(--color-primary-700);
    height: 0.4rem;
    width: 6rem;
    border-radius: 0.2rem;
  }

  .line-thin {
    background-color: var(--color-primary-700);
    height: 0.2rem;
    width: 8rem;
    opacity: 0.6;
    border-radius: 0.1rem;
  }
}
