<section>
    <form [formGroup]="form" class="form-group" (ngSubmit)="onSubmitForm()">

        <div class="line-3-cols">

            <div>
                <label for="nome-espaco" class="field-label">Nome Espaço</label>
                <input type="text" id="nome-espaco" formControlName="nomeEspaco" class="simple-input">
            </div>

            <div>
                <label for="piso" class="field-label">Piso</label>
                <select id="piso" formControlName="piso" class="simple-input">
                    <option value="" disabled>Selecione o piso</option>
                    <option value="1">Térreo</option>
                    <option value="2">1° Andar</option>
                    <option value="3">2º Andar</option>
                </select>
            </div>

            <div>
                <label for="capacidade" class="field-label">Capacidade</label>
                <select id="capacidade" formControlName="capacidade" class="simple-input">
                    <option value="" disabled>Selecione a capacidade</option>
                    <option value="10">20</option>
                    <option value="20">40</option>
                    <option value="30">60</option>
                </select>
            </div>

        </div>

        <div class="line-2-cols">

            <div>
                <label for="tipo-espaco" class="field-label">Tipo de espaço</label>
                <select id="tipo-espaco" formControlName="tipoEspaco" class="simple-input">
                    <option value="" disabled>Selecione o tipo</option>
                  
                    @for (tipo of tiposSalas; track $index) {
                      <option [value]="tipo.id">{{ tipo.nome }}</option>
                    }
                  </select>
            </div>

            <div>
                <label for="observacoes" class="field-label">Observações</label>
                <textarea id="observacoes" formControlName="observacoes" class="simple-input"></textarea>
            </div>

        </div>

        <div class="line-2-cols">

            <div>
                <span class="field-label">Equipamentos</span>

                <div class="chips-box">
                    @for (equipamento of equipamentos; track $index) {
                        <mat-chip color="primary" selected>
                            {{ equipamento.name }}
                            <button mat-icon-button (click)="remover('equipamento', equipamento)">
                                <mat-icon svgIcon="close"></mat-icon>
                            </button>
                        </mat-chip>
                    }
                </div>

                <button type="button" class="add-btn" (click)="onAddItem('equipamento')">
                    <mat-icon>add_circle_outline</mat-icon>
                    Adicionar Equipamento
                </button>
            </div>

            <div>
                <span class="field-label">Softwares</span>

                <div class="chips-box">
                    @for (software of softwares; track $index) {
                        <mat-chip color="primary" selected>
                            {{ software.name }}
                            <button mat-icon-button (click)="remover('software', software)">
                                <mat-icon svgIcon="close"></mat-icon>
                            </button>
                        </mat-chip>
                    }
                </div>

                <button type="button" class="add-btn" (click)="onAddItem('software')">
                    <mat-icon>add_circle_outline</mat-icon>
                    Adicionar Software
                </button>
            </div>

        </div>

        <div class="form-buttons">
            <button type="submit" class="add-btn">
                Salvar
            </button>
            <button type="button" class="add-btn cancelar-btn">
                Cancelar
            </button>
        </div>

    </form>

    <app-add-item-modal
        #addItemModal
        (itemAdd)="onItemAdded($event)">
    </app-add-item-modal>

</section>
