<div class="px-4">
<div class="d-flex justify-content-between mt-2">
  <app-title-highlightt title="Aulas"></app-title-highlightt>
  <button class="gea-btn me-3" routerLink="/agenda">Agendar</button>
</div>
@if (isLoading) {
  <div class="d-flex justify-content-center align-items-center mt-4">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
}

@if (isLoading === false) {
  <div class="container my-3">
    <app-day-selector
      class="w-100 d-block mb-4"
      [currentMonthName]="monthToDisplay"
      [days]="days"
      [diasSelecionados]="aulasCorrentes"
      [activeDayId]="activeDayId"
      (dayChange)="onDayChange($event)"
      (monthChange)="onMonthNavigate($event)"
    >
    </app-day-selector>

    <div class="schedule-list-container px-3">

      @for(agendamento of agendamentosDoDiaSelecionado$ | async; track agendamento){
        <app-class-info-card
          [agendamentoData]="agendamento"
          (delete)="requestCancelConfirmation($event)"
          (alterar)="handleViewAgendamento($event)"
          class="d-block schedule-item"
        ></app-class-info-card>
      }

      @if (!(agendamentosDoDiaSelecionado$ | async)?.length) {
          <div class="p-4 text-center text-secondary">
            Sem aulas para este dia.
          </div>
      }

    </div>
  </div>
}
</div>

<app-confirmation-modal
  #confirmCancelModel
  mode="aviso"
  title="Confirmar Cancelamento"
  message="Você tem certeza que deseja cancelar este agendamento? Esta ação não pode ser desfeita."
  confirmText="Confirmar"
  cancelText="Cancelar"
  (onconfirm)="confirmCancel()"
  (oncancel)="closeCancelModal()"
></app-confirmation-modal>
