.header {
  background-image: url('../../../assets/images/loginBackground.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.login-page {
  background-image: linear-gradient(to bottom, #870c08 0%, #210302 100%);
  justify-content: space-between;

  img{
    padding-left: var(--spacing-4);
  }
}

.card-login {
  background-color: #f9f9fb;
  border-top-left-radius: 2.188rem !important;
  border-top-right-radius: 2.188rem !important;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.1);
  min-height: 28.875rem;

  .card-body{
             padding: var(--spacing-8) /*top*/
             var(--spacing-9) /*right*/
             var(--spacing-8) /*bottom*/
             var(--spacing-9) /*left*/ !important;
  }
}

.btn-danger {
  background-color: var(--color-primary-700) !important;
}

.btn-danger:active {
  background-color: #600806 !important;
}

.btn-danger:hover {
  background-color: #ad0f0a !important;
}

.form-control {
  border-color: #870c08 !important;
}

h1 {
  font-size: 1.5rem !important;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
}

h2 {
  font-size: 6.25rem !important;
  text-shadow: 4px 4px 6px #000000;
}

h3 {
  font-size: 2.6rem !important;
  margin-top: -1rem !important;
}

a:hover{
  color: var(--color-neutral-900) !important;
}

.b-line {
  padding-bottom: var(--spacing-4);
  border-bottom: 1px black solid;
  width: 50%;
  margin: 0 auto;
}

.desktop-title {
  display: none;
}

.desktop-forget {
  display: none !important;
}

.mobile-title {
  display: block;
}

.mobile-header{
  margin-top: var(--spacing-12);
}

@media (min-width: 768px) {

  .mobile-title {
    display: none !important;
  }

  .mobile-forget {
    display: none !important;
  }

  .ml {
    display: none !important;
  }

  .b-line {
    display: none !important;
  }

  .desktop-forget {
    display: block !important;
    color: var(--color-primary-300) !important;
  }

  .header {
    width: 30% !important;
    margin-left: auto;
  }

  .card {
    width: fit-content;
    margin-right: auto;

    border-radius: 0% !important;

    width: 60%;

    .card-body {
      min-width: 50%;
      margin-right: auto;
      margin-left: auto;
    }
  }

  .login-page {
    background-image: linear-gradient(to bottom, #870c08 0%, #210302 100%);
    flex-direction: row-reverse !important;
  }

  .desktop-title {
    display: block;

    span {
      color: var(--color-primary-500);
    }

    margin-top: 10%;
    margin-bottom: 5%;
  }

  form {
    margin-bottom: 5%;
  }

  h1 {
    font-size: 2rem !important;
    text-shadow: 0px var(--color-default-black);

    text-align: center;
  }

  a:hover{
    color: var(--color-primary-900) !important;
  }

  .logo-fatec {
    display: block;
    margin: auto;
    width: 35%;
    margin-top: var(--spacing-6);
  }

  .btn-danger{
    margin-top: var(--spacing-5);
  }
}
