<div class="container-agendamento">
  <app-title-highlightt title="Agendamento de Aula"></app-title-highlightt>
  <div class="container-forms container-fluid">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-6">
          <div class="row mb-3">
            <label for="data" class="col-sm-3 main-title">Data:</label>
            <input type="date" id="data" formControlName="data" class="gea-input-field medium" />
          </div>

          <div class="row mb-3">
            <label for="Horário" class="col-sm-3 main-title">Horário:</label>
            <select
              name="Horário"
              id="Horário"
              formControlName="horarioId"
              class="gea-input-field medium select-clock-icon"
            >
              @for (h of horarios; track h.janelasHorarioId) {
                <option [value]="h.janelasHorarioId">{{ h.horaInicio }}- {{ h.horaFim }}</option>
              }
            </select>
          </div>

          <div class="row mb-3">
            <label for="Local" class="col-sm-3 main-title">Local:</label>
            <select
              name="Local"
              id="Local"
              formControlName="tipoSalaId"
              class="gea-input-field medium select-big-icon"
            >
              @for (s of tiposSala; track s.tipoSalaId) {
                <option [value]="s.tipoSalaId">{{ s.tipoSalaNome }}</option>
              }
            </select>
          </div>

          <div class="row mb-3">
            <label for="Capacidade" class="col-sm-3 main-title">Capacidade:</label>
            <select
              name="Capacidade"
              id="Capacidade"
              class="gea-input-field medium select-big-icon"
            >
              <option value="20">10-20 Alunos</option>
              <option value="30">20-30 Alunos</option>
              <option value="40">30+ Alunos</option>
            </select>
          </div>

          <div class="row mb-3">
            <label for="Disciplina" class="col-sm-3 main-title">Disciplina:</label>
            @if (disciplinas$ | async; as disciplinas) {
              @if (disciplinas.length === 0) {
                <select
                  id="Disciplina"
                  formControlName="disciplinaId"
                  class="gea-input-field medium select-big-icon"
                >
                  <option [value]="null">Nenhuma disciplina Encontrada</option>
                </select>
              } @else {
                <select
                  id="Disciplina"
                  formControlName="disciplinaId"
                  class="gea-input-field medium select-big-icon"
                >
                  <option [value]="null">Selecione uma Disciplina</option>

                  @for (d of disciplinas; track d.disciplinaId) {
                    <option [value]="d.disciplinaId">{{ d.disciplinaNome }}</option>
                  }
                </select>
              }
            }
          </div>
          <div class="row">
            <button class="gea-btn gea-btn-primary buscar" (click)="handleBuscarRecomendacoes()">
              Buscar
            </button>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <label for="data" class="col-sm-3 main-title">Equipamento:</label>
            <select
              id="equipamentoSelect"
              [formControl]="equipamentoSelectControl"
              class="gea-input-field medium"
            >
              <option [ngValue]="null">Selecione o Equipamento</option>
              @if (recursos$ | async; as recursos) {
                @for (recurso of recursos; track recurso.id) {
                  @if (recurso.tipoRecurso === 'Mobiliário') {
                    <option [ngValue]="recurso">{{ recurso.nome }}</option>
                  }
                  @if (recurso.tipoRecurso === 'Hardware') {
                    <option [ngValue]="recurso">{{ recurso.nome }}</option>
                  }
                }
              }
            </select>

            <label for="qtdInput" class="col-sm-1 main-title">Qtd:</label>
            <input
              type="number"
              id="qtdInput"
              [formControl]="quantidadeControl"
              min="1"
              class="gea-input-field small"
            />

            <button
              class="col-sm-2 gea-btn gea-btn-primary adicionar"
              (click)="adicionarEquipamentoSelecionado()"
              [disabled]="equipamentoSelectControl.invalid || quantidadeControl.invalid"
            >
              Adicionar
            </button>
          </div>
          <div class="row chip-display-area-row mb-2">
            <mat-chip-grid #chipGrid aria-label="Seleção de Equipamentos" class="col-sm-12">
              @for (control of equipamentosArray.controls; track $index) {
                <mat-chip-row
                  (removed)="removerItemDoArray('equipamentosArray', $index)"
                  [removable]="true"
                  color="primary"
                  selected
                >
                  {{ control.value.label }} ({{ control.value.quantity }})
                  <button matChipRemove aria-label="Remover item">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
              }
            </mat-chip-grid>
          </div>
          <div class="row">
            <label for="Software" class="col-sm-3 main-title">Software:</label>
            <select
              id="Software"
              [formControl]="softwareSelectControl"
              class="gea-input-field medium"
            >
              <option [ngValue]="null">Selecione o Software</option>
              @if (recursos$ | async; as recursos) {
                @for (recurso of recursos; track recurso.id) {
                  @if (recurso.tipoRecurso === 'Software') {
                    <option [ngValue]="recurso">{{ recurso.nome }}</option>
                  }
                }
              }
            </select>

            <button
              class="col-sm-2 gea-btn gea-btn-primary adicionar"
              (click)="adicionarSoftwareSelecionado()"
              [disabled]="softwareSelectControl.invalid"
            >
              Adicionar
            </button>
          </div>
          <div class="row chip-display-area-row">
            <mat-chip-grid #softwareChipGrid aria-label="Seleção de Softwares" class="col-sm-12">
              @for (control of softwaresArray.controls; track $index) {
                <mat-chip-row
                  (removed)="removerItemDoArray('softwaresArray', $index)"
                  [removable]="true"
                  color="warn"
                  selected
                >
                  {{ control.value.label }}
                  <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
              }
            </mat-chip-grid>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-4">
        <app-title-highlightt title="Baseado no Seu perfil"></app-title-highlightt>
        @if (isRecomendacaoLoading) {
          <mat-spinner></mat-spinner>
        } @else {
          <div class="row mb-2">
            @for (sala of salasRecomendadas; track sala.salaId) {
              <app-romm-information-component [labData]="sala"></app-romm-information-component>
            }
          </div>
        }
      </div>
      <div class="col-4">
        <app-title-highlightt title="Outras Opções"></app-title-highlightt>
        @if (isRecomendacaoLoading) {
          <mat-spinner></mat-spinner>
        } @else {
          <p>Nenhuma outra data disponivel</p>
        }
      </div>
      <div class="col-4">
        <app-title-highlightt title="Outras Datas Disponiveis"></app-title-highlightt>
        @if (isRecomendacaoLoading) {
          <mat-spinner></mat-spinner>
        } @else {
          <p>Nenhuma outra data disponivel</p>
        }
      </div>
    </div>
  </div>
</div>
