<div class="container-agendamento">
  <header
    class="title-highlight big text-left text-md-start"
    aria-labelledby="title-highlight-heading"
  >
    <h2 id="title-highlight-heading" class="title-text main-title">Agendamento de Aulas</h2>

    <div class="title-underline" aria-hidden="true">
      <div class="line-thick"></div>
      <div class="line-thin"></div>
    </div>
  </header>

  <div class="container-forms container-fluid">
    <form>
      <div class="row">
        <div class="col-6">
          <div class="row mb-3">
            <label for="data" class="col-sm-3 main-title">Data:</label>
            <input type="date" id="data" name="data" class="gea-input-field medium" />
          </div>

          <div class="row mb-3">
            <label for="Horário" class="col-sm-3 main-title">Horário:</label>
            <select name="Horário" id="Horário" class="gea-input-field medium select-clock-icon">
              <option value="">7:40 - 9:20</option>
            </select>
          </div>

          <div class="row mb-3">
            <label for="Local" class="col-sm-3 main-title">Local:</label>
            <select name="Local" id="Local" class="gea-input-field medium select-big-icon">
              <option value="">Laboratórios</option>
              <option value="">Salas</option>
            </select>
          </div>

          <div class="row mb-3">
            <label for="Capacidade" class="col-sm-3 main-title">Capacidade:</label>
            <select
              name="Capacidade"
              id="Capacidade"
              class="gea-input-field medium select-big-icon"
            >
              <option value="20">10-20 Alunos</option>
              <option value="30">20-30 Alunos</option>
              <option value="40">30+ Alunos</option>
            </select>
          </div>

          <div class="row mb-3">
            <label for="Disciplina" class="col-sm-3 main-title">Disciplina:</label>
            <select
              id="Disciplina"
              name="Disciplina"
              class="gea-input-field medium select-big-icon"
            >
              @for (d of disciplinas; track d.disciplinaId) {
                <option [value]="d.disciplinaId">{{ d.disciplinaNome }}</option>
              }
            </select>
          </div>
          <div class="row">
            <button class="gea-btn gea-btn-primary buscar">Buscar</button>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <label for="data" class="col-sm-3 main-title">Equipamento:</label>
            <input
              type="text"
              id="equipamentoNomeInput"
              name="equipamentoNome"
              class="gea-input-field medium"
              #equipamentoInput
            />

            <label for="number" class="col-sm-1 main-title">Qtd:</label>
            <input
              type="number"
              id="qtdInput"
              name="qtd"
              min="1"
              class="gea-input-field small"
              #qtdInput
            />

            <button
              class="col-sm-2 gea-btn gea-btn-primary adicionar"
              (click)="
                adicionarEquipamento(equipamentoInput.value, qtdInput.value);
                equipamentoInput.value = '';
                qtdInput.value = ''
              "
            >
              Adicionar
            </button>
          </div>
          <div class="row chip-display-area-row mb-2">
            <mat-chip-grid #chipGrid aria-label="Seleção de Equipamentos" class="col-sm-12">
              @for (equipamento of equipamentos; track equipamento) {
                <mat-chip-row
                  (removed)="removerEquipamento(equipamento)"
                  [removable]="true"
                  color="primary"
                  selected
                >
                  {{ equipamento.nome }} ({{ equipamento.qtd }})
                  <button matChipRemove aria-label="Remover {{ equipamento.nome }}">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
              }
            </mat-chip-grid>
          </div>
          <div class="row">
            <label for="data" class="col-sm-3 main-title">Software:</label>
            <input
              type="text"
              id="softwareInput"
              name="softwareInput"
              class="gea-input-field medium"
              #softwareInput
            />
            <button
              class="col-sm-2 gea-btn gea-btn-primary adicionar"
              (click)="adicionarSoftware(softwareInput.value); softwareInput.value = ''"
            >
              Adicionar
            </button>
          </div>
          <div class="row chip-display-area-row">
            <mat-chip-grid #softwareChipGrid aria-label="Seleção de Softwares" class="col-sm-12">
              @for (software of softwares; track software) {
                <mat-chip-row
                  (removed)="removerSoftware(software)"
                  [removable]="true"
                  color="warn"
                  selected
                >
                  {{ software }}
                  <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
              }
            </mat-chip-grid>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
