.header {
  background-image: url('../../../assets/images/loginBackground.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.login-page {
  background-image: linear-gradient(to bottom, #870c08 0%, #210302 100%);
  justify-content: space-between;

  img{
    padding-left: var(--spacing-4);
  }
}

.card-senha {
  background-color: #f9f9fb;
  border-top-left-radius: 2.188rem !important;
  border-top-right-radius: 2.188rem !important;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.1);
  min-height: 28.875rem;

  .card-body{
             padding: var(--spacing-5) /*top*/
             var(--spacing-4) /*right*/
             var(--spacing-2) /*bottom*/
             var(--spacing-4) /*left*/ !important;
  }
}

.btn-danger {
  background-color: var(--color-primary-700) !important;
}

.btn-cancelar, .btn-danger{
  margin-top: var(--spacing-4);
  border-radius: var(--spacing-4);
  padding: var(--spacing-3) !important;
}

.btn-cancelar{
  border-color: var(--color-primary-500);
  color:  var(--color-primary-500);
}

.btn-danger:active {
  background-color: #600806 !important;
}

.btn-danger:hover {
  background-color: #ad0f0a !important;
}

  .btn-voltar{
    display: none ;
  }

.form-control {
  border-color: #870c08 !important;
}

h2 {
  font-size: var(--spacing-6);
}

h2, h4{
  font-weight: var(--font-weight-regular);
}

h3 {
  font-weight: var(--font-weight-bold);
  margin: var(--spacing-5);
}

.desktop-title{
  font-size: var(--spacing-1);
}

.desktop-subtitle, h3{
  font-size: var(--spacing-5);
  margin: 0;
}

.desktop-title, .desktop-subtitle {
  display: none;
}

.mobile-title {
  font-size: var(--spacing-14);
  display: block;
}

.mobile-header{
  margin-top: var(--spacing-12);
}

.icon{
  width: var(--spacing-3);
  height: auto;
}

.confirm-icon{
  width: 91px;
  height: auto;

  margin-top: var(--spacing-6);
}

.text-confirm{
  font-size: 1.125rem;
  font-weight: var(--font-weight-regular);
}

.title-confirm{
  font-size: 1.625rem;
}

@media (min-width: 768px) {

  .mobile-title, .ml, .btn-cancelar{
    display: none !important;
  }
  .header {
    width: 30% !important;
    margin-left: auto;
  }

  .card {
    width: fit-content;
    margin-right: auto;

    border-radius: 0% !important;

    width: 60%;

    .card-body {
      min-width: 50%;
      margin-right: auto;
      margin-left: auto;
    }
  }

  .login-page {
    background-image: linear-gradient(to bottom, #870c08 0%, #210302 100%);
    flex-direction: row-reverse !important;
  }

  .desktop-title{
    display: block;

    span {
      color: var(--color-primary-500);
    }

    margin-top: 10%;
    margin-bottom: 5%;
  }

  .desktop-subtitle{
    display: block;
  }

  form {
    margin-bottom: 5%;
  }

  h1 {
    font-size: 2rem !important;
    text-shadow: 0px var(--color-default-black);

    text-align: center;
  }

  .logo-fatec {
    display: block;
    margin: auto;
    width: 35%;
    margin-top: var(--spacing-6);
  }

  .btn-danger{
    margin-top: var(--spacing-2);
    border-radius: var(--spacing-2);
  }

  .btn-voltar{
    display: flex !important;
    color: var(--color-primary-700);
    font-size: var(--spacing-4);
    transition: color 0.3s ease;
  }

  .btn-voltar p {
    margin: 0;
    padding: 0;
  }

  .btn-voltar:hover{
    color: var(--color-primary-300);
  }

  .confirm-icon{
    width: 164px;
    height: auto;

    margin: var(--spacing-4);
  }

  .text-confirm{
    font-size: 1.4rem;
    font-weight: var(--font-weight-regular);
  }

  .title-confirm{
    font-size: 1.5rem;
  }

  .card-body{
    width: 55%;
  }
}
