.modal-geral {
  width: 32.75rem;
  box-shadow: 0 0 0.5rem 0 var(--color-default-black);
  border-radius: 0.313rem;
  overflow: hidden;
}

.header-modal {
  background-color: var(--color-primary-500);
  height: 5.25rem;
}

.body-modal {
  background-color: var(--color-surface-base);
  height: 23.188rem;
  padding: 2.25rem;
}

.highlight-title {
  color: var(--color-default-white);
}
