<ng-template #editarEspacoModalTemplate let-modal>
  <div class="modal-geral" role="dialog" aria-modal="true">
    <div class="header-modal">
      <span class="title">Editar espaço acadêmicos</span>
      <button class="close-btn" (click)="onModalClose()">✕</button>
    </div>

    <div class="body-modal">
      <form [formGroup]="form" class="form-grid" (submit)="$event.preventDefault()">
        <div class="d-flex flex-row justify-content-center align-items-center">
          <div class="col-left">
            <label for="iNome" class="label-small"
              >Nome:
              <input class="input-small short-input" id="iNome" formControlName="salaNome" />
            </label>

            <label for="" class="label-small mt-12"
              >Piso:
              <select formControlName="piso" class="input-small short-input">
                <option value="1">Térreo</option>
                <option value="2">1° Andar</option>
                <option value="3">2° Andar</option>
              </select>
            </label>

            <label for="tipoEspaco" class="label-small"
              >Tipo de Espaço:
              <select id="tipoEspaco" formControlName="tipoSalaId" class="input-small short-input">
                @for (tipoSala of tipoSalaOpcoes; track tipoSala.tipoSalaId) {
                  <option [value]="tipoSala.tipoSalaId">{{ tipoSala.tipoSalaNome }}</option>
                }
              </select>
            </label>
          </div>
          <div class="col-right">
            <div class="resources-row">
              <div class="resource-column">
                <div class="resource-label">
                  <span>Equipamentos:</span>
                  <button
                    id="BtnEquipamento"
                    class="gea-btn-primary Adicionar"
                    (click)="openAddResourceModal('Hardware')"
                    [disabled]="form.disabled"
                  >
                    Novo Equip.
                  </button>
                </div>

                <div class="chip-display-area-row">
                  <mat-chip-grid>
                    @for (recurso of recursosSala; track recurso.idRecurso) {
                      @if (recurso.tipoRecurso !== 'Software') {
                        <mat-chip-row
                          [removable]="!form.disabled"
                          color="warn"
                          selected
                          (removed)="removeRecurso(recurso)"
                        >
                          {{ recurso.nomeRecurso }}
                          ({{ recurso.quantidadeRecurso }})
                          <button matChipRemove>
                            <mat-icon>cancel</mat-icon>
                          </button>
                        </mat-chip-row>
                      }
                    } @empty {
                      <p class="text-muted" class="captions">Nenhum equipamento.</p>
                    }
                  </mat-chip-grid>
                </div>
              </div>

              @if (isLaboratorio) {
                <div class="resource-column">
                  <div class="resource-label">
                    <span>Softwares:</span>
                    <button
                      id="BtnSoftware"
                      class="gea-btn-primary Adicionar"
                      (click)="openAddResourceModal('Software')"
                      [disabled]="form.disabled"
                    >
                      Novo Software.
                    </button>
                  </div>

                  <div class="chip-display-area-row">
                    <mat-chip-grid>
                      @for (recurso of recursosSala; track recurso.idRecurso) {
                        @if (recurso.tipoRecurso === 'Software') {
                          <mat-chip-row
                            [removable]="!form.disabled"
                            color="primary"
                            selected
                            (removed)="removeRecurso(recurso)"
                          >
                            {{ recurso.nomeRecurso }}
                            <button matChipRemove>
                              <mat-icon>cancel</mat-icon>
                            </button>
                          </mat-chip-row>
                        }
                      } @empty {
                        <p class="text-muted" class="captions">Nenhum software.</p>
                      }
                    </mat-chip-grid>
                  </div>
                </div>
              }
            </div>
          </div>
        </div>

        @if (form) {
          <div class="indisponivel-row">
            <label class="checkbox-container">
              <input type="checkbox" formControlName="disponibilidade" />

              <span
                class="status-dot"
                [ngClass]="form.get('disponibilidade')?.value ? 'neutral-dot' : 'red-dot'"
              >
              </span>

              <span class="ind-text">
                {{ form.get('disponibilidade')?.value ? 'Sala Disponível' : 'Sala Indisponível' }}
              </span>
            </label>
          </div>
        }
      </form>
    </div>

    <div class="footer-modal">
      <button
        class="btn-edit"
        type="button"
        (click)="form.disabled ? onModalEdit() : onModalSave()"
      >
        {{ form.disabled ? 'Editar' : 'Salvar' }}
      </button>

      <button class="btn-cancel" type="button" (click)="onModalClose()">Cancelar</button>
    </div>
  </div>
</ng-template>

<app-add-item-modal
  #addItemModal
  [title]="modalTitle"
  [nameLabel]="modalLabel"
  [showQuantityField]="showQuantity"
  [recursosDisponiveis]="recursosDisponiveisFiltrados"
  (itemAdd)="onItemAdded($event)"
>
</app-add-item-modal>
