<div class="container-fluid px-0">
  <div class="d-flex flex-column gap-1 pb-2 border-bottom">

    <div class="d-flex justify-content-between align-items-center">
      <div class="fw-semibold">{{ classData.courseName }}</div>
      <div class="fw-semibold text-end text-danger">{{ classData.time }}</div>
    </div>

    <div class="d-flex justify-content-between align-items-center">
      <small class="text-secondary">
        {{ classData.location }} | {{ classData.semester }}
      </small>

      <div class="d-flex row">
        <button
          type="button"
          class="btn btn-link p-0 text-danger"
          (click)="handleDelete()"
          aria-label="Excluir {{ classData.courseName }}">
          Excluir
        </button>

        <button
          type="button"
          class="btn btn-link p-0 link-secondary"
          (click)="handleView()"
          aria-label="Visualizar {{ classData.courseName }}">
          Visualizar
        </button>
      </div>
    </div>

    <div class="fw-semibold">{{ classData.subject }}</div>
  </div>
</div>
