<a class="dashboard-card" [routerLink]="routerLink">
  <mat-icon class="card-icon" [svgIcon]="iconName"></mat-icon>
  <span class="card-title">{{ title }}</span>
</a>

<a class="dashboard-card" [routerLink]="routerLink">
  <mat-icon class="card-icon" [svgIcon]="iconName"></mat-icon>
  <span class="card-title">{{ title }}</span>
</a>

<a class="dashboard-card" [routerLink]="routerLink">
  <mat-icon class="card-icon" [svgIcon]="iconName"></mat-icon>
  <span class="card-title">{{ title }}</span>
</a>

<a class="dashboard-card" [routerLink]="routerLink">
  <mat-icon class="card-icon" [svgIcon]="iconName"></mat-icon>
  <span class="card-title">{{ title }}</span>
</a>

