.dashboard-card {
  width: 100%;                   
  height: 5rem;                   
  background-color: var(--color-surface-disabled);
  border-radius: 0.5rem;
  color: black;
  display: flex;
  flex-direction: row;          
  justify-content: center;
  align-items: center;
  gap: var(--spacing-3);          
  padding: var(--spacing-3);     
  text-decoration: none;
}

.dashboard-card:hover {
  background-color: #acb9be;
}

.card-icon {
  color: black;
  width: 3rem;                    
  height: 3rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 500;
  color: #333;
  text-align: left;               
}

@media (min-width: 768px) {
  .dashboard-card {
    width: 15rem;
    height: 15rem;
    flex-direction: column;      
    justify-content: center;
    gap: 0;                       
    padding: var(--spacing-4);  
  }

  .card-icon {
    width: 4rem;
    height: 4rem;
    margin-bottom: 0.5rem;
  }

  .card-title {
    text-align: center;
    font-size: 1.5rem;
  }
}